{% extends "DJviewBundle::template.html.twig" %}




{% block content %}
    
<div style="margin-top: 200px;">
	<!-- Page Content -->
    <div id="contentBlogList" class="container"  style="margin-top: 25px;">
    

        <div class="row">
        	<div id='listeBlog' class='col-lg-8' >
        		<div class='row'>
        			<div class='col-lg-8'>
        				<h3>Anniversaire</h3>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-lg-5">
        				<img alt="" src="{{asset('/images/anniv.jpg')}}" width="300" height="250">
        			</div>
        			<div class="col-lg-7">
        				<p>Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-lg-6">
        				<a>Auteur: Nas</a>
        			</div>
        			
        		</div>
        	
        	</div>
        </div>

            <!-- Blog Sidebar Widgets Column -->

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright </p>
                </div>
                <div class="col-lg-6">
        			<a>01/01/2020 15h:30</a>	
    			</div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    
    
    <!------------------------------------------------------------------------------------->
    
    <div id="contentBlogList" class="container"  style="margin-top: 25px;">

        <div class="row">
        	<div id='listeBlog' class='col-lg-8' >
        		<div class='row'>
        			<div class='col-lg-8'>
        				<h3>Idee Table</h3>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-lg-5">
        				<img alt="" src="{{asset('/images/carou.jpg')}}" width="300" height="250">
        			</div>
        			<div class="col-lg-7">
        				<p>Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-lg-6">
        				<a>Auteur: Nas</a>
        			</div>
        			
        		</div>
        	
        	</div>
        </div>

            <!-- Blog Sidebar Widgets Column -->

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright </p>
                </div>
                <div class="col-lg-6">
        			<a>01/01/2020 15h:30</a>	
    			</div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
</div>
    




{% endblock %}
