{% extends "DJviewBundle::template.html.twig" %}

{% block content%}

<div id="inscriptipn" class="row">
    <div id="body_inscription" class="col-sm-6 col-lg-offset-3 ">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Instription</h2>
                        <hr class="star-primary">
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{form(form)}}
        </div>
    </div>
</div>    
    
    
{% endblock %}
