{# empty Twig template #}


<body>

    <h3>Bienvenue {{user.username}} sur Snowtricks</h3>
    <p>Votre mot de passe est {{user.password}}<p/>
    
    <br/>
    
    <p>L'équipe Snowtricks.</p>

</body>