{% extends "DJviewBundle::template.html.twig" %}

{% block content %}
    
    <div class="container" style="margin-top: 200px; margin-bottom: 250px;" >
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" >
                <div class="panel panel-default">
                    <div class="panel-heading"style="background-color: #2C3E50; color: white">
                        <h3 class="panel-title">Connection <small></small></h3>
                    </div>
                    <div class="panel-body" style="background-color: gainsboro">
                        {% if error %}
                            <div class="alert alert-danger">{{ error}}</div>
                        {% endif %}
                        <form action="{{ path('d_jview_sendresetpass') }}" method="post">
                            <div class=row>
                                <div class="col-md-4" >
                                    <label for="email">Adresse Mail :</label>
                                </div>
                                <div class="col-md-8" >
                                    <input type="email" id="mail" name="mail"  />
                                </div>
                                
                                <br />
                                <input type="submit" value="Envoi" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
